<body>
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow-sm px-5 py-3 py-lg-0">
        <a href="index.html" class="navbar-brand p-0">
            <h1 class="m-0 text-uppercase text-primary">
                {{!-- <i class="fa-solid fa-hand-holding-hand me-3" style="color: rgb(110, 110, 136) ;"></i> --}}
                <img src="img/repairlogo.png" alt="" style="heigth:40px;width:40px" class="me-3">
                My Helpar
            </h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0 pe-4 border-end border-5 border-primary">

                <a href="about.html" class="nav-item nav-link">Register as a Professional</a>
                <a href="service.html" class="nav-item nav-link">Login/SignUp</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Services</a>
                    <div class="dropdown-menu m-0">
                        <a href="blog.html" class="dropdown-item">Ac applience repair</a>
                        <a href="detail.html" class="dropdown-item">Cleaning</a>
                        <a href="team.html" class="dropdown-item">Electrician</a>
                        <a href="testimonial.html" class="dropdown-item">Plumber</a>
                        <a href="testimonial.html" class="dropdown-item">Carpender</a>
                    </div>
                </div>

            </div>

        </div>
    </nav>
    <!-- Navbar End -->


    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 bg-hero" >
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-8 text-center text-lg-start">
                    <h1 class="display-1 " style="color: rgb(0, 0, 0);">We Make Your Home To Lively Colors</h1>
                    
                    <div class="pt-2">


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->





    <!-- Services Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h1 class="display-5">Professional Cleaning Services</h1>
                <hr class="w-25 mx-auto text-primary" style="opacity: 1;">
            </div>
            <div class="row gy-4 gx-3">
                <div class="col-lg-3 col-md-4 pt-5">
                    <div
                        class="service-item d-flex flex-column align-items-center justify-content-center text-center p-5 pt-0 ">
                        
                        <h3 class="mt-5">Sofa</h3>
                       
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 pt-5">
                    <div
                        class="service-item d-flex flex-column align-items-center justify-content-center text-center p-5 pt-0 ">
                        
                        <h3 class="mt-5">Kitchen</h3>
                       
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 pt-5">
                    <div
                        class="service-item d-flex flex-column align-items-center justify-content-center text-center p-5 pt-0 ">
                   
                        <h3 class="mt-5">Bathroom</h3>
                    
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 pt-5">
                    <div
                        class="service-item d-flex flex-column align-items-center justify-content-center text-center p-5 pt-0 ">
                        
                        <h3 class="mt-5">Full Home</h3>
                      
                    </div>
                </div>
            </div>
            <div class="text-center mx-auto mb-5 mt-5" style="max-width: 500px;">
                <h1 class="display-5">Professional Home Repairs</h1>
                <hr class="w-25 mx-auto text-primary" style="opacity: 1;">
            </div>
            <div class="row gy-3 gx-3">
                <div class="col-lg-3 col-md-4 pt-5">
                    <div
                        class="service-item d-flex flex-column align-items-center justify-content-center text-center p-5 pt-0 ">
                       
                        <h3 class="mt-5">Electrician</h3>
                  
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 pt-5">
                    <div
                        class="service-item d-flex flex-column align-items-center justify-content-center text-center p-5 pt-0 ">
                        
                        <h3 class="mt-5">Plumber</h3>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 pt-5">
                    <div
                        class="service-item d-flex flex-column align-items-center justify-content-center text-center p-5 pt-0 ">
                       
                        <h3 class="mt-5">Carpender</h3>
                       
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 pt-5">
                    <div
                        class="service-item d-flex flex-column align-items-center justify-content-center text-center p-5 pt-0 ">
                    
                        <h3 class="mt-5">AC repair</h3>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services End -->








    <!-- best employes start-->
    {{!-- <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h1 class="display-5">Dedicated Team Members</h1>
                <hr class="w-25 mx-auto text-primary" style="opacity: 1;">
            </div>
            <div class="row g-3">
                <div class="col-lg-4 col-md-6">
                    <div class="team-item">
                        <img class="img-fluid w-100" src="img/team-1.jpg" alt="">
                        <div class="team-text">
                            <div class="team-social">
                                <a class="btn btn-lg btn-secondary btn-lg-square rounded-circle me-2" href="#"><i
                                        class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-secondary btn-lg-square rounded-circle me-2" href="#"><i
                                        class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-secondary btn-lg-square rounded-circle me-2" href="#"><i
                                        class="fab fa-linkedin-in"></i></a>
                            </div>
                            <div class="mt-auto mb-3">
                                <h4 class="mb-1">Full Name</h4>
                                <span class="text-uppercase">Designation</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="team-item">
                        <img class="img-fluid w-100" src="img/team-2.jpg" alt="">
                        <div class="team-text">
                            <div class="team-social">
                                <a class="btn btn-lg btn-secondary btn-lg-square rounded-circle me-2" href="#"><i
                                        class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-secondary btn-lg-square rounded-circle me-2" href="#"><i
                                        class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-secondary btn-lg-square rounded-circle me-2" href="#"><i
                                        class="fab fa-linkedin-in"></i></a>
                            </div>
                            <div class="mt-auto mb-3">
                                <h4 class="mb-1">Full Name</h4>
                                <span class="text-uppercase">Designation</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="team-item">
                        <img class="img-fluid w-100" src="img/team-3.jpg" alt="">
                        <div class="team-text">
                            <div class="team-social">
                                <a class="btn btn-lg btn-secondary btn-lg-square rounded-circle me-2" href="#"><i
                                        class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-secondary btn-lg-square rounded-circle me-2" href="#"><i
                                        class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-secondary btn-lg-square rounded-circle me-2" href="#"><i
                                        class="fab fa-linkedin-in"></i></a>
                            </div>
                            <div class="mt-auto mb-3">
                                <h4 class="mb-1">Full Name</h4>
                                <span class="text-uppercase">Designation</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> --}}
    <!-- best employes End -->







    <!-- Footer Start -->
    <div class="container-fluid bg-dark bg-footer text-light py-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-primary">Get In Touch</h4>
                    <hr class="w-25 text-secondary mb-4" style="opacity: 1;">
                   
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary me-3"></i>123 Street, New Delhi, India</p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary me-3"></i>myhelpar@gmail.com</p>
                    <p class="mb-0"><i class="fa fa-phone-alt text-primary me-3"></i>+012 345 67890</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-primary">Our Services</h4>
                    <hr class="w-25 text-secondary mb-4" style="opacity: 1;">
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>AC applience repair</a>
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>electrician</a>
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Plumber</a>
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Carpender</a>
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Cleaning</a>
                       
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-primary">Quick Links</h4>
                    <hr class="w-25 text-secondary mb-4" style="opacity: 1;">
                    <div class="d-flex flex-column justify-content-start">
                       <a class="text-light" href="#"><i class="fa fa-angle-right me-2"></i>Contact Us</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                   <h6 class="text-primary mt-4 mb-3">Follow Us</h6>
                    <div class="d-flex">
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i
                                class="fab fa-twitter"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i
                                class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i
                                class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-primary text-dark ">
        <div class="container">
            <div class="row g-0">
                <div class="col-md-6 text-center text-md-start">
                    <p class="mb-md-0">Copyright &copy; <a class="text-dark fw-bold" href="#">My Helper Technologies India pvt Ltd</a></p>
                </div>
               
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-secondary btn-lg-square rounded-circle back-to-top"><i
            class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>